<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-Us</title>
    <link rel="stylesheet" href="/about.css">
    <link rel="stylesheet" href="/upperNav.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">


</head>
<body>
    
  <div class="upperNav flex-row">
    <div>
      <a href="/" class="upperNavLink logo">Captaan</a>
    </div>
    <div class="searchBar">
      <form action="/video/search" method="">
        <input type="text" name="title" class="input" placeholder="Search ..." required>
      </form>
    </div>
    <div>
      <a href="/" class="upperNavLink">Home</a>
      <a href="/about" class="upperNavLink">About</a>
    </div>
  </div>
    <div class="about-section">
        <h1>About Us Page</h1>
        <p style="font-size: 20px;">We are a ott platform and we provide the best and absloutly free services here </p>
      </div>
      
      <h2 style="text-align:center">OUR TEAM</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="/4.png" alt="Jane" style="width:100%">
            <div class="container">
              <h2>The Captaan</h2>
              <p class="title">Backend Development</p>
              <p>Whole DataBase & Backend Manager</p>
              <p>Captan@1234gmail.com</p>
              <p>Contact No. 7564854212</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="/2.jpg" alt="Mike" style="width:100%">
            <div class="container">
              <h2>Sujal Peswani</h2>
              <p class="title">Frontend Development </p>
              <p>Frontend management </p>
              <p>Peswaniji999@gmail.com</p>
              <p>Contact No. 8696336893</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="/3.png" alt="John" style="width:100%">
            <div class="container">
              <h2>Shashank Goyal</h2>
              <p class="title">Frontend Development</p>
              <p>Frontend management</p>
              <p>Shashankgoyal@1234gmail.com</p>
              <p>Contact No. 8432474851</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>


</body>
</html>