@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hidden{
    display: none;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.button{
    width: 100%;
    height: 40px;
    color: #ffffff;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 900;
    letter-spacing: 1px;
    background-color: #0000CD;
}

.button:hover{
    background-color: #0202f8;

}


.input{
    width: 100%;
    height: 35px;
    border: 1px solid gray;
    outline: none;
    font-size: 16px;

    padding: 0 10px;
    border-radius: 10px;
}