body {
    width: 100%;
    height: 100vh;
    background-color: #f6f8fa;
}

.uploadContainer{
    width: 50%;
    height: 80vh;
    background-color: #ffff;
    border-radius: 20px;
    padding: 20px;
    border: 1px dotted gray;
}

.uploadForm {
    width: 500px;
    height: fit-content;
}
.input-container{
    margin: 10px 0;

}
.uploadLabel {
    padding: 10px 50px;
    font-size: 18px;
    width: 100%;
    text-align: center;
    background-color: gray;
    font-weight: 900;
    border: 1px dotted gray;
    background-color: #ffffff;
}

.btn-conatiner{
    margin: 10px 0;
}


#filename,
#filetype,
#filesize{
    padding: 5px 0;
    justify-content: space-between;
}

.error{
    padding: 5px 0;
    color: red;
    font-size: 14px;
}

.buildby{
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    align-items: center;
}